@import '../../node_modules/highlight.js/styles/vs.css';

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.69;
    letter-spacing: normal;
    -webkit-font-smoothing: antialiased;
    margin:0;
    margin-top: 8px;
    color: #707070;
    padding-top: 5vh;
    text-align: justify;
    padding-bottom: 10vh;
    text-justify: inter-word;
}

#main, #infoArticulo{
    width: 90%;
    margin-left: 5%;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    margin: 0;
    left: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header div{
    display: flex;
    align-items:center;
    margin-left: 10%;
    cursor: pointer;
}

.header h1{
    font-size: 21px !important;
    padding: 15px;
}

.header img{
    margin: 0!important;
    position:relative;
    width:auto;
    float:left;
}

a {
    cursor: pointer;
}

h1 {
    font-size: 2rem !important;
    color: #333;
    margin: 0;
    outline-color: #4a8173;
    font-weight: 600;
}

h2 {
    color: #333;
    margin: 0;
    outline-color: #4a8173;
    font-weight: 600;
}

.card {
    margin:auto;
    width: 80%;
    margin-bottom: 75px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 30px;
    display: none;
    background:white;
    border-radius: 20px;
    text-align:justify;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardRight{
    float:right;
    right:0;
    width:20% !important;
    padding:10px;
    top: 80vh;
    position:fixed;
}

#close{
    float: right;
    padding:5px;
    padding-left:5px;
}

#cardTitle, #title {
    font-size: 21px;
    text-align: left;
}

.card img {
    width: 100%;
}

.circle {
    width: 75px;
    height: 75px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
}

.tag { 
    color: #fff!important;
    background-color: #2196F3!important;  
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    font-size: 11px;
    margin-right:5px;
}

.cardMe{
    background: white;
    z-index: 4000;
    right:2%;
    top:80vh;
    border-radius:20px;
    z-index:1000px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 
0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardMe a{
    color:black;
    font-size:14px;
}

.cardMe .fontH7{
    font-size:18px;
}

.cardMe .fontH5{
    font-size:14px;
}

@media only screen and (max-width: 1000) {
    .cardMe .fontH7{
        font-size:18px;
    }

    .cardMe .fontH5, .cardMe a{
        font-size:14px;
    }

    .cardMe{
        position: relative;
        top:55vh;
        margin:auto;
        right:auto;
    }
}

.circle {
    width: 80px;
    height: 80px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
}


.photoMe {
    background: url("https://i.gyazo.com/1966c0462ab200296588f5c2b0af3320.png");
    background-size: cover;
}

#me{
    width: auto !important;
}

#cardPhoto {
    width: 60px;
    height: 60px;
}

img{
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
}

a img{
    text-align: left;
    margin: 0px;
    margin-top:5px;
}

@media only screen and (max-width: 800px) {
    #imageArticle{
        width:100%;
    }

    .cardRight{
        position:relative;
        float:none;
        width:auto !important;
        margin: auto;
        margin-left: 5%;
        margin-top:5vh;
        top: auto;
    }

    #close{
        display: none;
    }
}

@media only screen and (min-width: 800px) {

    #mainArticulo, #infoArticulo {
        width: 50%;
        margin-left: 25%;
    }
    
    img {
        max-width: 50%;
        display: block;
        max-height: 500px;
    }

    .card {
        width: 250px;
        vertical-align: top;
        margin:auto;
        margin-left:2.5%;
        margin-right:2.5%;
        margin-bottom: 5vh;
    }

    .card img {
        width: 100%;
        max-width: 100%;
    }
}

.img-lg {
    max-width: 100%;
}

input {
    width: auto;
    width: 90%;
}

.code,
.code:focus {
	outline: none;
	//overflow-x: overlay;
	font-size: 12px;
	background: rgb(244, 245, 247);
	color: rgb(23, 43, 77);
	border-radius: 3px;
	display: block;
	line-height: 1.66667;
	overflow-x: auto;
	white-space: pre;
	text-indent: 10px;

	user-select: all;
	border: none;
	font-family: monospace;
}

@mixin bg-gradient($parent) {
    background: linear-gradient(to bottom, $parent 0%, $parent*0.7 100%);
  }

.blue{
    @include bg-gradient(rgb(162, 199, 214));
}

.red{
    @include bg-gradient(rgb(226, 143, 143));
}

.green{
    @include bg-gradient(rgb(182, 223, 172));
}

.yellow{
    @include bg-gradient(rgb(224, 205, 169));
}

.white{
    @include bg-gradient(rgb(238, 248, 239));
}